<div
  otpSlot
  [ngClass]="[
    'relative w-10 md:w-20 h-14 md:h-28 text-[2rem] md:text-[4rem] flex items-center justify-center border-border border-y border-r first:border-l first:rounded-l-md last:rounded-r-md transition-all [transition-duration:300ms] outline outline-0 outline-accent-foreground/20',
    'group-hover:border-accent-foreground/20 group-focus-within:!border-accent-foreground/50',
    isActive ? 'outline-4 outline-accent-foreground' : '',
  ]"
>
  <div
    [ngClass]="{
      'duration-1000': true,
      'lg:opacity-0 lg:animate-fade-in': willAnimateChar,
      'lg:[animation-delay:1.5s]': animateIdx === 0,
      'lg:[animation-delay:2s]': animateIdx === 1,
    }"
  >
    @if (char) {
      <div>{{ char }}</div>
    } @else {
      {{ " " }}
    }
  </div>

  @if (hasFakeCaret) {
    <div [class]="willAnimateCaret ? 'lg:opacity-0 lg:animate-fade-in' : ''">
      <app-fake-caret />
    </div>
  }
</div>
