<header
  class="sticky top-0 z-50 w-full border-b border-border/40 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div class="flex h-14 items-center px-3 md:px-0">
    <div
      class="flex flex-1 items-center justify-between space-x-2 md:justify-end"
    >
      <nav class="flex items-center">
        <a
          href="{{ siteConfig.links.github }}"
          target="_blank"
          rel="noreferrer"
        >
          <div
            [class]="
              cn(
                buttonVariants({
                  variant: 'ghost',
                }),
                'w-9 px-0'
              )
            "
          >
            <app-icon-github class="h-4 w-4" />
            <span class="sr-only">GitHub</span>
          </div>
        </a>
        <a
          href="{{ siteConfig.links.twitter }}"
          target="_blank"
          rel="noreferrer"
        >
          <div
            [class]="
              cn(
                buttonVariants({
                  variant: 'ghost',
                }),
                'w-9 px-0'
              )
            "
          >
            <app-icon-twitter class="h-3 w-3 fill-current" />
            <span class="sr-only">Twitter</span>
          </div>
        </a>
      </nav>
      <app-mode-toggle />
    </div>
  </div>
</header>
